@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.animate-fade-out {
  animation: fadeOut 0.5s ease-in-out 4.5s forwards;
}

@layer base {
  body {
    @apply antialiased;
  }
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded-lg font-medium transition-colors duration-200;
  }
  
  .btn-primary {
    @apply bg-primary-500 text-white hover:bg-primary-600;
  }
  
  .btn-secondary {
    @apply bg-gray-200 text-gray-800 hover:bg-gray-300 dark:bg-gray-700 dark:text-white dark:hover:bg-gray-600;
  }
}

.leaflet-container {
  width: 100%;
  height: 100%;
}

.leaflet-popup-content-wrapper {
  border-radius: 0.5rem;
}

.leaflet-popup-content {
  margin: 0.5rem;
}

.leaflet-popup-tip {
  background: white;
}

.leaflet-popup-close-button {
  display: none;
}

/* Style pour la pop-up d'erreur */
.error-popup {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ef4444;
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  z-index: 1000;
}
